* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}
/* 解答は、上記を.main-visualで指定 */

h1 {
  padding-top: 20px;
  padding-left: 20px;
  color: gray;
}
/* 解答は、.headlineで指定。padding: 20px; のみ*/

main {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
/* flex利用してない */

.menu-item1 {
  width: 840px;
  padding-bottom: 30px;
  border-bottom: solid 1px silver;
}

.menu-item {
  width: 840px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px silver;
}
